@media only screen and (min-width: 992px) {
    .storybook {
        width: 350px;
        max-width: 100%;
        flex: 2 0 auto;
    }

    .thepoint {
        width: 60%;
        flex: 1 0 auto;
        position: relative;
        z-index: 1;
        object-fit: contain;
    }

    #buybutton {
        flex: 1 0 auto;
        margin-top: -5px;
    }

    #rooster {
        width: 70%;
    }

    #buypage {
        width: 60%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .storybook {
        width: 300px;
        max-width: 100%;
        flex: 2 0 auto;
    }

    .thepoint {
        width: 80%;
        flex: 1 0 auto;
        position: relative;
        z-index: 1;
        object-fit: contain;
    }

    #rooster {
        width: 60%;
    }

    #buypage {
        width: 80%;
    }
  }

@media only screen and (max-width: 767px) {
    .storybook {
        width: 150px;
        max-width: 100%;
        flex: 2 0 auto;
    }

    .thepoint {
        width: 100%;
        flex: 1 0 auto;
        position: relative;
        z-index: 1;
        object-fit: contain;
    }

    #buybutton {
        margin-top: auto;
    }

    #rooster {
        width: 60%;
    }

    #buypage {
        width: 100%;
    }
  }

body {
    background-color:black;
    background-image: url("redback.png");
    background-attachment: fixed;
    background-position: center;
    background-size:contain;
    object-position: center;
    background-repeat: repeat;
}

.all {
    display: flex;
    flex-flow: column nowrap;
}

.titlebar {
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items: center;
}

#somul {
    flex: 2 0 auto;
    margin-left: 20px;
    gap: 20px;
}

#socials {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    gap: 20px;
    flex: 2 0 auto;
    margin-left: 10px;
    margin-right: 20px;
}

.icon {
    width: 32px;
    max-width: 100%;
    flex: 1 1 auto;
}

a:link {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #841402;
    text-decoration: none;
    font-size: medium;
}

a:visited {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#2b5d34;
    text-decoration: none;
}

a:hover {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:goldenrod;
    cursor: pointer;
    text-decoration: none;
}

.main {
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
    margin-top: -15px;
    width: 100%;
    justify-content: baseline;
    align-items: center;
}

button {
    border-radius: 20rem;
    color: black;
    background-color: goldenrod;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#buybutton {
    flex: 1 0 auto;
}

button:hover{
    background-color: gold;
}

#buypage {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
}

h1, h3, p, h4, h2 {
    color: #222425;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}